.cont_time{
    display: inline-block;
    width: 30%;
    height: auto;
    margin: 4em;
    border-radius: 20px;
    background-color:aliceblue;

}
.cont_time p{
  
    font-size: 20px;
    margin: 2em;
}
.cont_time li{
    font-size: 20px;
    margin: 1em;

}
.timeline {
    position: relative; /* Adiciona posicionamento relativo */
    margin-bottom: 20px;
}

.linha_h {
    width: 1px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-top: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    
}

.linha_h:nth-child(2) {
    left: 14.3%;
}
.linha_h:nth-child(3) {
left: 28.6%;
}
.linha_h:nth-child(4) {
left: 42.8%;
}
.linha_h:nth-child(5) {
left: 57.1%;
}
.linha_h:nth-child(6) {
    left: 71.4%;
    }
.linha_h:nth-child(7) {
    left: 85.7%;
    }
.linha_h:nth-child(8) {
    left: 100%;
    }

p{
margin-bottom: 3em;
}

.info {
    display: none;
    background-color: lightgrey;
    padding: 10px;
}
.info_cel {
    display: none;
    background-color: lightgrey;
    padding: 10px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: black;
}


@media (max-width: 740px) {
    .cont_time{
        width: 50%;
    }
    .linha_h{
        display: none;
    }
    .linha{
        display: none;
    }

    .info_cel{
        display: block;
    }
}

@media (max-width: 446px) {
    footer{
      height: 25em;
    }
  }
