.timeline {
    position: relative; /* Adiciona posicionamento relativo */
    margin-bottom: 20px;
}

.linha_h {
    width: 1px;
    height: 20px;
    background-color: black;
    position: absolute;
    margin-top: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    
}

.linha_h:nth-child(2) {
    left: 24%;
}
.linha_h:nth-child(3) {
left: 50%;
}
.linha_h:nth-child(4) {
left: 75%;
}
.linha_h:nth-child(5) {
left: 100%;
}
p{
margin-bottom: 3em;
}

.info {
    display: none;
    background-color: lightgrey;
    padding: 10px;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: black;
}