.membro{
    width: 270px;
    height: 334px;
    border-radius: 20px;
}

  
  .card {
    width: 18%;
    height: 334px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    display: inline-block;
    margin: 4em;
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color:aliceblue;
    text-align: center;
    border-radius: 20px;
    
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  .back p{
    margin: 2em;
    font-size: 1.4em;
  }
 @media (max-width: 446px) {
    .card{
      width: 65%;
    }
   
  }
